body 
{
    background-color: #FFFFFF;
}

#title 
{
    text-align: center;
    font-size: 58px;
    width: 258px;
    height: 111px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 2% auto;
    vertical-align: middle;
    font-family: 'Inter', Inter;
    color: #163440;
}

.signUpDiv 
{
    margin: auto;
    width: 450px;
}

.signUpDiv input[type="text"], input[type="password"]
{
    text-align: left;
    
    width: 324px;
    height: 40px;
    margin-left: 15%;
    margin-bottom: 10px;

    padding-top: -0.75px;
    padding-left: 15px;


    border-radius: 20px;
    border-color: #163440;
}

/* #loggedInDiv
{
    font-size: 30px;
    width: 324px;
    height: 40px;
    margin-left: 15%;
    padding: 25px;
    
} */

/* #accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
} */

.buttons
{
    display: block;
    margin: auto;

    font-size: 30px;
    border-radius: 25px;
    width: 177px;
    height: 57px;
    border-radius: 61px;
    
    padding-top: 9px;
    padding-right: 26px;
    padding-bottom: 9px;
    padding-left: 26px;
    
    font-family: 'Inter', Inter;
    color: white;
    background-color: #163440;
}

.buttons:hover{
    background-color: #06183d4f;
    color: #2586e1;
    opacity: 50%;
}

/* #loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
} */

/* input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
} */
/* 
#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
} */

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

/* #colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
} */